
@media screen and (max-width: 1025px) {

  body{
    overflow: auto;
  }
 .navbarS{
  width: 103%;
 }

 #defaultBg{
  left: -300px;
 }

  #map {
    margin-left: -150px;
  }
  ul {
    left: 108px;
    top: 362px;
  }
  #textDesc h3 {
    font-size: 50px;
    text-align: center;
  }
  #textDesc h3::after {
    margin-left: 300px;
    width: 300px;
  }

  #textDesc .button {
    margin-left: 330px;
    margin-top: 50px;
  }

  #textDesc p {
    padding-top: 23px;
    text-align: center;
  }

  .heading h2 {
    width: 250px;
  }
  #vid1,
  #vid2,
  #vid3,
  #vid4 {
    left: -500px;
    width: 2200px;
  }
  
#readMore{
  margin-left: 37%;
}
}

@media screen and (max-width: 769px) {


  #defaultBg{
    left: -350px;
  }

  #textDesc p {
    margin-right: -90px;
  }
  #textDesc .button {
    margin-left: 260px;
  }

  #textDesc {
    margin-right: -100px;
  }

  #textDesc h3::after {
    margin-left: 225px;
  }
  .navbarS{
    width: 120%;
   }

   
  h3#ncOx:after{
    margin-left: 261px;
    width: 218px !important;
  }

  

  #vid1,
  #vid2,
  #vid3,
  #vid4 {
    visibility: hidden;
  }

}


@media screen and (max-width: 426px) {


  #defaultBg{
    width: 2500px;
    left: -870px;
  }

  h3#ncOx:after{
    margin-left: 111px !important;
  }

  h3#nc2:after{
    margin-left: 48px !important;
    width: 350px !important;
  }
  
  #map{
    margin-left: 50px;
  }
  
  #mapUl{
    left: 294px;
        top: 361px;
  }

  #textDesc p {
    font-size: 30px;
  }
  #textDesc .button {
    margin-left: 160px;
  }
  #textDesc h3 {
    margin-left: 60px;
  }

  #textDesc {
    margin-top: 0px;
    margin-right: -200px;
  }

  #textDesc h3::after {
    margin-left: 80px;
    width: 288px !important;
  }
  .navbarS {
    width: 171%  !important;
  }
  #ibms {
    margin-right: 132px;
    margin-left: -58px;
  }

  ul {
    left: 344px;
    top: 518px;
  }

  #vid1,
  #vid2,
  #vid3,
  #vid4 {
    margin-top: -1000px;
  }

  .animated-button{
    width: 167%;
  }

  .animated-button:hover .circle {
    width: 110%;
  }

}


@media screen and (max-width: 376px) {
  body{
    background-color: black;
  }
  #defaultBg{
    height: 1500px;
    left: -620px;
  }
  .navbarS {
      width: 194% !important;
  }
  #textDesc p {
    margin-right: -136px;
}

.animated-button{
  width: 191%;
}



#textDesc h3{
  margin-left: 118px;
  font-size: 30px;
}

#textDesc h3::after {
  margin-left: 22px;
}

#readMore {
  margin-left: 42%;
}

}

@media screen and (max-width: 322px) {

  body{
    overflow-x: hidden;
  }
  .navbarS {
    width: 184%  !important;
}

#readMore {
  margin-left: 42%;
}

  #defaultBg{
    width: 2000px;
    left: -500px;
    height: 1500px;
    top: 0px;
  }

  #ibms {
    display: none;
  }

  #defaultBg {
   left: -650px;
  }



  .heading h2{
    margin-left: 150px;
    width: 300px;
    font-size: 40px;
  }
  .navbarS {
    width: 228% !important;
}

  .sideManu {
    width: 600px;
  }

  .animated-button {
    width: 100%;
  }

  .animated-button:hover .circle {
    width: 1000px;
  }
/* 
  #map {
    display: none;
  }
  ul {
    display: none;
  } */
  #textDesc h3 {
    margin-left: 116px;
  }

  #textDesc p {
    margin-left: -16px;
    margin-right: -206px;
  }

  #textDesc h3::after {
    margin-left: -6px;
  }
  #textDesc .button {
    margin-left: 83px;
    width: 100%;
  }
}